%h1 "#{@statement.content}"
= link_to @statement.perp_name, perp_path(@statement.perp)
%br/
= surround "(", ")" do
  = @statement.context

/- unless @statement.comments.empty?
/  %table.comments{ :summary => "Comments" }
/    = render @comments
/  = will_paginate @comments