/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

body {
	background: #eee;
}

.container {
	position: relative;
	max-width: 1000px;
	background: #025;
	padding: 0 20px 0 20px;
	border-left: 1px solid #aaa;
	border-right: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
}


/* Header */

header {
	position: relative;
	width: 100%;
	max-width: 1000px;
	height: 70px;
	z-index: 5;
	background: #025;
	border-bottom: 1px solid #aaa;
}

header *.logo{
	display: inline-block;
	overflow: visible;
	padding: 3px 0;	
}

header *.logo h1 {
	font-size: 250%;
	margin-bottom: 0;
	letter-spacing: 2px;
}
header *.logo a {
	color: white;
	text-decoration: none;
}

header *.logo a:hover {
	color: white;
	text-decoration: none;
}

header *.logo a:visited {
	color: white;
	text-decoration: none;
}

header *.logo *.subtitle {
	font-size: 150%;
	font-style: italic;
	font-weight: lighter;
	letter-spacing: 2px;
	word-spacing: 2px;
	color: #aaa;
}



/* Navigation */

header nav {
	position: absolute;
	top: 0;
	right: -21px;
	-moz-border-radius: 0 0 0 10px / 0 0 0 20px;
	-webkit-border-radius: 0 0 0 10px / 0 0 0 20px;
	border-radius: 0 0 0 10px / 0 0 0 20px;
	background-color: #eee;
	padding: 0.3em 0.3em 0.3em 0.5em;
	white-space: nowrap;
	border-left: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
}

nav ul {
	margin: 0;
	padding: 0;
}

nav ul li {
	list-style-type: none;
	display: inline-block;
	position: relative;
	padding: 0 1em;
}

nav ul li a {
	color: #06c;
	text-decoration: none;
}

nav ul li a:visited {
	color: #06c;
}

nav ul li a:hover {
	color: #f00;
	text-decoration: none;
}



/* Links */

a {
	color: #09f;
	text-decoration: none;
}

a:hover {
	color: #06c;
	text-decoration: underline;
}

a:visited {
	color: #06c;
}

/* Footer */

footer {
	clear: both;
	text-align: center;
}

footer nav {
	display: inline-block;
	padding: 0 20px;
	background: #eee;
	-moz-border-radius: 0 0 10px 10px / 0 0 20px 20px;
	-webkit-border-radius: 0 0 10px 10px / 0 0 20px 20px;
	border-radius: 0 0 10px 10px / 0 0 20px 20px;
}



/* Error messages */

.field_with_errors {
	margin-top: 10px;
	padding: 2px;
	background-color: #c00;
	display: table;
}

.field_with_errors label {
	color: #fff;
}

#error_explanation {
	width: 400px;
	border: 2px solid #c00;
	padding: 7px;
	padding-bottom: 12px;
	margin-bottom: 20px;
	background-color: #f0f0f0;
}

#error_explanation h2 {
	text-align: left;
	font-weight: bold;
	padding: 5px 5px 5px 15px;
	font-size: 12px;
	margin: -7px;
	background-color: #c00;
	color: #fff;
}

#error_explanation p {
	color: #333;
	margin-bottom: 0;
	padding: 5px;
}

#error_explanation ul li {
	font-size: 12px;
	list-style: square;
}