/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

#statements {
	float: left;
	background: white;
}

#statements *.statement {
	float: left;
	position: relative;
	padding-left: 130px;
	padding-right: 170px;
	border-bottom: 1px solid #aaa;
	overflow: hidden;
}

#statements *.statement:hover {
	background: #eee;
}

#statements *.statement a:hover {
	color: #f00;
}

#statements *.content {
	float: left;
	position: relative;
	width: 100%;
	padding: 5px 10px;
	padding-bottom: 20005px;
	margin-bottom: -20000px;
}

#statements *.perp_image {
	float: left;
	position: relative;
	text-align: center;
	width: 120px;
	padding: 5px 0;
	margin-left: -100%;
	right: 150px;
	padding-bottom: 20005px;
	margin-bottom: -20000px;
}

* html #statements *.perp_image {
	left: 120px;
}

#statements *.perp_image.D {
	background: #33e;
}

#statements *.perp_image.R {
	background: #e33;
}

#statements *.perp_image.I {
	background: #e3e;
}

#statements *.scores {
	float: left;
	position: relative;
	width: 130px;
	padding: 5px 10px;
	margin-right: -170px;
	text-align: center;
	background: #eee;
	padding-bottom: 20005px;
	margin-bottom: -20000px;
}

#statements *.perp {
	font-size: 9pt;
	font-style: italic;
	color: #777;
}

#statements *.perp_name {
	font-size: 11pt;
	font-weight: bold;
	color: #059;
}

#statements *.perp_name a {
	color: #059;
	text-decoration: none;
}

#statements *.timestamp {
	float: right;
	font-size: 9pt;
	font-style: italic;
	color: #777;
}

#statements *.delete {
	float: right;
	margin-left: 10px;
	color: #aaa;
}

#statements h1 {
	font-size: 14pt;
	font-weight: bold;
	color: black;
	margin: 5px 0;
}

#statements h1 a {
	color: black;
	text-decoration: none;
}

#statements h1 a:visited {
	color: black;
}

#statements *.context {
	font-size: 11pt;
	color: #888;
}

#statements img.perp_thumb {
	width: 100px;
	height: 125px;
}

#statements *.score {
	margin: 10px;
	text-align: center;
	font-weight: bold;
}

#statements *.score.hypocrisy, *.score.hyperbole {
	width: 30px;
	height: 25px;
	line-height: 25px;
	margin: 10px;
	border: #aaa outset 1px;
	font-size: 12pt;
}

#statements *.score.hypocrisy {
	float: left;
}

#statements *.score.hyperbole {
	float: right;
}

#statements *.score.overall {
	clear: both;
	width: 50px;
	height: 40px;
	line-height: 40px;
	margin-left: auto;
	margin-right: auto;
	border: #ccc double 3px;
	font-size: 20pt;
}

#statements *.score.high {
	background: #e55;
}

#statements *.score.mid {
	background: yellow;
}

#statements *.score.low {
	background: #4a4;
}

#statements *.score.none {
	background: none;
}


/* New Statement form */

form.new_statement {
	margin-bottom: 2em;
}

form.new_statement textarea {
	height: 4em;
	margin-bottom: 0;
}